.btn {
  min-width: 100px;
  width: auto;
  height: 50px;
  border: none;
  outline: none;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: transparent;

  text-align: center;
  letter-spacing: 0.005em;
  color: inherit;
  transition: all 300ms ease-in-out;
  padding: 5px 20px;
  border-radius: 5px;
}

.btnPrimary{
  background: #4884fb;
  color: #fff;
}

.btnPrimary:hover{
  background-color: #3461BB;
}

.btnOutlinePrimary {
  border: 1px solid #4884fb;
}

.btnOutlinePrimary:hover{
  background-color: #3461BB;
  color: #fff;
}

.btnWhite{
  background: #fff;
  color: #4884fb;
}

.btnWhite:hover{
  border: 1px solid white;
  background-color: inherit;
  color: inherit;
}


.btnOutlineWhite {
  border: 1px solid white;
}

.btnOutlineWhite:hover{
  background-color: #3461BB;
  color: #fff;
}
