.btn {
  min-width: 100px;
  width: auto;
  height: 41px;
  border: none;
  outline: none;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  background: transparent;

  text-align: center;
  letter-spacing: 0.005em;
  color: inherit;
  transition: all 300ms ease-in-out;
  padding: 5px 10px;
}

.btnPrimary{
  background: #4884fb;
  color: #fff;
}

.btnPrimary:hover{
  background-color: #3461bb;
}

.btnOutlinePrimary {
  border: 1px solid #4884fb;
}
