.btn {
  min-width: 100px;
  /* width: auto;
  height: 41px; */
  border: none;
  outline: none;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  background: transparent;

  text-align: center;
  letter-spacing: 0.005em;
  color: inherit;
  transition: all 300ms ease-in-out;
  padding: 15px 20px;
}

.btnPrimary{
  color: #4884fb;
  border: 1px solid #4884fb;
  width: fit-content;
  height: fit-content;
}

.btnPrimary:hover{
  background-color: #3461bb;
  color: #fff;
  font-size: 1.5em;
}

.btnOutlinePrimary {
  border: 1px solid #4884fb;
}

