.dashboard_wrapper .row {
    padding: 10px;
}
.dashboard_wrapper .col-md-6 {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}
.dashboard_wrapper .icon {
    margin: 20px auto;
    font-size: large;
    color: #4884FB;
}
.dashboard_wrapper h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1B2559;
}
.dashboard_wrapper .btn {
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.dashboard_wrapper .business{
    font-size: 24px;
}
.dashboard_wrapper .text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #A3AED0;
}