.dashboard_wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.link:hover{
  color: #000;
  text-decoration: none;
}

.dashboard_wrapper .cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.dashboard_wrapper .cardGrid .service_card {
  margin-top: 30px;  
  width: 100%;
  max-width: 396px;
  height: 285px;

  background: #ffffff;
  box-shadow: 19px 20px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard_wrapper  .cardGrid .service_card:hover{
  background-color: #f1f1f1;
}

.dashboard_wrapper  .cardGrid .service_card .icon_wrapper{
  background: #ffffff;
  height: 70px;
  width: 70px;
  border: 2px solid #4884FB;
  border-radius: 100%;
  padding: 20px;
}
.dashboard_wrapper .icon {
  font-size: 32px;
  height: 30px;
  width: 30px;
  font-weight: 500;
  color: #4884fb;
}
.dashboard_wrapper h2 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1B2559;
}

.dashboard_wrapper .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

@media screen and (max-width:786px) {
  .dashboard_wrapper .cardGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}