.hero_wrapper {
  width: 100%;
  min-height: 455px;
  background: #4884fb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.img_wrapper{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.img_wrapper img{
  position: absolute;
  object-fit: contain;
  top:55px;
  width: 80%;
  height: 400px;
}

.content {
  position: relative;
  margin-left: 5%;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  padding: 10px 30px 10px;
  letter-spacing: 0.005em;
  color: #ffffff;
  background-color: #4884fb;
}

.hr {
  position: absolute;
  width: 9px;
  height: 291px;
  left: 0px;
  top: 0px;
  background: #fff;
}

.content h1 {
  width: 454px;
  min-height: 80px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}
.content p {
  width: 376px;
  min-height: 67px;
  font-size: 18px;
  line-height: 25px;
}

@media screen and (max-width:990px) {
  .img_wrapper{
    left: 60%;
    width: 40%;
  }

}

@media screen and (max-width:780px) {
  .img_wrapper{
    display: none;
  }

  .content{
    width: 100%;
  }

  .content h1 {
    width: 90%;
   
  }
  .content p {
    margin-top: 10px;
    width: 90%;
    
  }
}