.hero_wrapper {
  width: 100%;
  min-height: 455px;
  background: #4884fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.img_wrapper{
  position: relative;
  right: 0px;
  top: 0px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_wrapper .img_container{
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  right: 0px;
  top: -240px;
  width: 660px;
  height: 660px;
  display: flex;
  justify-content: center;
}

.img_wrapper img{
  object-fit: contain;
  margin-top: 30px;
  margin-left: -35px;
  width: 95%;
  height: 440px;
}

.content {
  position: relative;
  margin-left: 10%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  padding: 10px 30px 10px;
  letter-spacing: 0.005em;
  color: #ffffff;
  background-color: #4884fb;
}

.hr {
  position: absolute;
  width: 9px;
  height: 291px;
  left: 0px;
  top: -20px;
  background: #fff;
}

.content h1 {
  width: 454px;
  min-height: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
}
.content p {
  width: auto;
  min-height: 67px;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width: 786px) and (max-width: 990px) {
 
  .img_wrapper{
    display: none;
  }
  .img_wrapper .img_container{
    display: none;
  }
  
  .content{
    width: 100%;
  }

}

@media screen and (max-width:786px) {
  .img_wrapper{
    display: none;
  }

  .content{
    width: 100%;
  }

  .content h1 {
    width: 90%;
   
  }
  .content p {
    margin-top: 10px;
    width: 90%;
    
  }
}