.loggedlayout_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: #E5E5E5;
}

.loggedlayout_wrapper .side {
  width: 20%;
}

.loggedlayout_wrapper .content {
  overflow: hidden !important;
  width: 80%;
}

@media screen and (min-width: 786px) and (max-width: 990px) {
  .loggedlayout_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .loggedlayout_wrapper .side {
    width: 100%;
  }
  
  .loggedlayout_wrapper .content {
    width: 100%;
  }
}

@media screen and (max-width: 786px) {
  .loggedlayout_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .loggedlayout_wrapper .side {
    width: 100%;
  }
  
  .loggedlayout_wrapper .content {
    width: 100%;
  }
  
}
