.navbar_wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #fbfbfb;
  width: 100%;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #fbfbfb;
  color: #000;
}
.logo {
  font-size: 30px;
}
.nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  width: 75%;
  transition: width 200ms ease;
}

.nav_link {
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.active {
  border-left: 2px solid #4884fb;
}

.nav_link a {
  color: #000;
  text-decoration: none;
}
.nav_links_mobile{
  max-width: 0px;
  transition: max-width 200ms ease;
}

.mobile_menu_icon,.mobile_icon {
  display: none;
}

@media screen and (min-width: 786px) and (max-width: 990px) {
  .nav_links {
    margin-left: 10px;
  }
  .nav_link {
    color: #000;
    font-size: 16px;
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
    transition: width 200ms ease;
  }
}

@media screen and (max-width: 786px) {
  .logo {
    display: flex;
    position: absolute;
    top: 5px;
    left: 35px;
  }

  .nav_links {
    display: none;
    width: none;
  }

  .nav_links_mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    position: absolute;
    list-style: none;
    height: 100%;
    background-color: #4884fb;
    right: 0;
    top: 90px;
    transition: right 200ms ease;
    width: 40%;
    max-width: 200px;
    padding:0px 0px 0px 0px;
    margin: 0px;
    z-index: 1000;
  }

  .nav_link {
    display: block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #4884fb;
    padding: 18px 10px;
    margin: 0 0px;
    width: 100%;
  }
  
  .nav_link a {
    color: #fff;
    text-decoration: none;
  }
  .menu_close {
    display: block;
    height: 60px;
    position: relative;
    color: #fff;
    text-align: right;
    width: 100%;
    padding: 10px;
    margin: auto 10px;
  }
  .mobile_icon {
    display: block;
    position: absolute;
    font-size: 28px;
    color: #fff;
    border: none;
    outline: none;
    top: 15px;
    right: 30px;
    margin: auto 10px;
  }

  .mobile_menu_icon {
    display: block;
    position: absolute;
    font-size: 40px;
    color: #4884fb;
    border: none;
    outline: none;
    top: 15px;
    right: 30px;
    margin: auto 10px;
  }
}
