.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 20px auto;
}

.header .header_content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  padding: 10px;
  left: 70px;
  top: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.header_content h1 {
  font-size: 3.2em;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.header_content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0.005em;
  margin-top: 10px;
}

.header_image {
  position: relative;
  width: 50%;
  max-width: 716px;
  height: 576px;
  right: 10px;
  top: 40px;

  background: url("../../images/header_image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 786px) and (max-width: 990px){

  .header .header_content {
    top: 10px;
    width: 60%;
  }

  .header_image {
    width: 40%;
    max-width: 416px;
    background-size: 90%;
    background-position: center;
    height: 476px;
  }

  .header_content h1 {
    font-size: 2.5em;
    font-weight: 600;
  }

  .header_content p {
    font-size: 18px;
  }
}

@media screen and (max-width: 786px) {
  .header_image {
    display: none;
  }

  .header .header_content {
    width: 80%;
    left: 0px;
    top: 20px;
    padding: 10px 15px;
    text-align: left;
  }

  .header_content h1 {
    font-size: 2em;
    font-weight: 600;
  }
  .header_image {
    display: none;
    /* margin-top: 10px;
    width: 100%;
    left: -20px;
    order: 2;
    align-self: center; */
  }
  .header_content h1 {
    font-size: 2em;
    font-weight: 600;
  }
    

}
