.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  margin: 10px auto;
}

.header .header_content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  padding: 10px;
  left: 70px;
  top: 40px;
  text-align: left;
}

.header_content h1 {
  line-height: 1;
  letter-spacing: 0.04em;
}

.header_content p {
  width: 100%;
  max-width: 444px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.005em;
  margin-top: 10px;
}

.header_image {
  position: relative;
  width: 50%;
  max-width: 712px;
  height: 450px;
  right: 10px;
  top: 40px;

  background: url("../../images/header_image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:990px){
  .header .header_content {
    left: 20px;
  }
}

@media screen and (max-width: 780px) {
  .header {
    flex-direction: column;
  }

  .header .header_content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 40px;
    padding: 10px 15px;
    text-align: center;
    margin: 0 auto;
    order: 1;
  }

  .header_image {
    display: none;
    /* margin-top: 10px;
    width: 100%;
    left: -20px;
    order: 2;
    align-self: center; */
  }
}
