.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 50%;
  margin: 10px auto;
  padding: 15px;
}

.contact-form h1 {
  text-align: center;
  width: 100%;  
  font-weight: medium;
  padding-bottom: 10px;
  margin-top: 20px;
}

.form-control {
  background-color: rgb(215, 227, 243);
  outline: none;
  border: none;
}

.contact-form Button{
  margin:  auto;
}

/* .contact-form .btn {
  background-color: #4884fb;
  color:#fff;
  width: 200px;
}

.contact-form .btn:hover {
  background-color: #3461bb;
} */

@media screen and (max-width: 800px) {
  .contact-form{
    width: 90%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-form form {
    width: 100%;
    margin-left: 0;
  }
}
