.footer{
    position: relative;
    width: 100%;
    background-color: #0c023e;    
    padding-bottom: 20px;
}
 

.footer-logo{
    width: 70%;
    height: 70%;
    color: inherit;
}

.footer img{
   margin-top: 7%;
}

.footer-links-group{
    margin: 20px 0px;
    padding: 7px;
}

.footer a{
    white-space: nowrap;
}

.footer a, .footer p{
    color: white;
    font-weight: 300;
}

.footer p{
    margin-top: 5%;
    margin-left: 30px;
    width: 100%;
}

.mobile-view   {
    display: none;
}

@media screen and (max-width:786px) {
    .footer-objects{
        display: flex;
        flex-direction: column;
        line-height: 0.1;
    }
    
    .footer-logo{
        margin-bottom: 50px;
        margin-left: -20px;
    }

    .footer p{
        margin-top: -5%;
        margin-left: 0;
    }

    .mobile-view{
        display: flex;
        flex-direction: column;
        /* width: 30%; */
    }

}

