.account_wrapper {
  position: relative;
  margin: 10px auto;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.account_wrapper .user_image {
  width: 260px;
  height: 260px;
  object-fit: fill;
  border-radius: 100%;
}
.account_wrapper h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
}
.account_wrapper h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  line-height: 28px;
}
.account_wrapper p {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}


