
@media screen and (max-width:700px){
    #mobile_view{
        display:none;
    }

    .forgot_password{
        margin-top: 10%;
    }

    .forgot_password h1{
        margin-bottom: 15% !important;
    }

    .forgot_password_p{
        margin: auto;
        margin-bottom: 12%;
        font-weight: 600 !important;
        width: 75%;
    }
    .forgot_password Form{
        margin: auto;
        width: 80%;
    }

    .forgot_password button{
        margin: 30px 0 !important;
    }
}