/* Using module.css enable unique class names to be generated when compiling the css */
.error {
  color: red;
  font-size: 0.5em;
}

.sign_up_img {
  margin-top: 20px;
  width: 482px;
  height: 493px;
  border-right: 1px solid grey;
  object-fit: cover;
}

.sign_up {
  margin-top: 20px;
}
.sign_up a:hover{
  color: grey;
  text-decoration: none;
}
.sign_up a{
  color: #4884fb;
  text-decoration: none;
}

.sign_up h1 {
  text-align: center;
}

.form_input {
  margin-bottom: 5px;
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 30px;
  font-family: inherit;
  outline: none;
}

.form_group:nth-child(1) {
  margin-top: 10px;
}

.btn {
  color: white;
  background-color: #4884fb;
  font-size: 1.2em;
}

.btn:hover {
  color: white;
  background-color: #3461bb;
}

.signup_text {
  text-align: center;
}

@media screen and (max-width: 786px) {
  .sign_up {
    margin-top: 5px;
  }
  .sign_up_img {
    display: none;
  }

  .sign_up h1 {
    text-align: center;
  }
}
