@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", "Roboto",
    "Oxygen", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #3d3d3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.005em;
}
